/*Navbar*/
#top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    padding: 0px !important;
    height: 45px;
    z-index: 100;
}

.dashboard-main {
    background-color: blueviolet;
    top: -45px;
    margin-bottom: 5%;
    height: 100%;
}

.house-card-btn{
    width:"28%";
    height:"25px";
}
/*noted house list*/
#noted-house-card-list {
    /* overflow-y: scroll; */
    display: "fixed";
    left: 0;
    z-index: 90;
}

.noted-house-card-class {
    display: inline-block;
    margin-Top: 6% !important;
}

.friend-list {
    position: fixed;
    right: 0;
    background-color: lime;
    justify-content: left;
}

.row-element {
    height: 80%;
    margin-top: 10px;
}

.card-body {
    padding: 0px !important;
}

.col {
    padding: 0px !important;
}

.container,
.container-fluid {
    padding-right: 0px !important;
}

.footer-bar {
    height: 45px;
    display: inline-block;
    width: 81.4%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: red;
}