.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#top-bar {
  width: 100%;
}

#noted-house-list{
  overflow-y: scroll;
}

.noted-house-card-class{
  /*this will raise cause the container is suck */
  height: 50px;
  display: inline-block;
  margin-Top: 2% !important;
  margin-Right: 2%;
}

.navbar{
  padding: 0px !important;
}

.col{
  padding: 0px !important;
}

.container,.container-fluid {
  padding-right: 0px !important;
}

.footer-bar{
  height: 8%;
  display: inline-block;
  width: 82.7%;
  position : fixed;
  left: 0;
  bottom: 0;
  background-color:red;
}

ul,ol {
  list-style: none;
  /* remove the default list style */
  padding: 0;
  /* remove any default padding */
  padding-left: 0rem !important;
}

li {
  width: 100%;
  /* make the list item full-width */
}
